<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<meta http-equiv="cleartype" content="on" />
    <meta name="description" content="two-drone" />
	<meta name="keywords"  content="" />
	<meta name="theme-color" content="#fff">

    <title>반려동물 빅데이터 관리자 (develop)</title>
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/admin/css/common.css" />

    <% if (menu == 'main') { %>
        <link rel="stylesheet" type="text/css" href="/admin/css/main.css" />
    <% } else if (menu == 'test') { %>
        <link rel="stylesheet" type="text/css" href="/admin/css/test.css" />
    <% } else if (menu == 'data_disease' || menu == 'data_product' || menu == 'data_symptom' || menu == 'data_tag' || menu == 'data_food' || menu == 'data_nutrient') { %>
        <link rel="stylesheet" type="text/css" href="/admin/css/data.css" />
    <% } else if (menu == 'data_disease_add' || menu == 'data_product_add' || menu == 'data_symptom_add' || menu == 'data_tag_add' || menu == 'data_food_add' || menu == 'data_nutrient_add') { %>
        <link rel="stylesheet" type="text/css" href="/admin/css/data_add.css" />
    <% } else if (menu == 'data_disease_detail' || menu == 'data_product_detail' || menu == 'data_symptom_detail' || menu == 'data_tag_detail' || menu == 'data_food_detail' || menu == 'data_nutrient_detail') { %>
        <link rel="stylesheet" type="text/css" href="/admin/css/data_detail.css" />
    <% } %>

    
</head>
<body>
    <input class="js-input-hidden-menu" type="hidden" value="<%=menu%>" />

    <header>
        <div class="title-wrapper">
            <a href="/"><p class="title">반려동물 빅데이터 관리자</p></a>
        </div>
    </header>

    <nav class="side-menu">
        <div class="main-menu">홈</div>

        <div class="main-menu">데이터 관리</div>
        <ul>
            
            <!-- <a href="/admin/data/disease"><li <% if (menu == 'data_disease' || menu == 'data_disease_add' || menu == 'data_disease_detail') { %> class="selected" <% } %>>질병</li></a>
            <a href="/admin/data/food"><li <% if (menu == 'data_food' || menu == 'data_food_add' || menu == 'data_food_detail') { %> class="selected" <% } %>>음식</li></a>
            <a href="/admin/data/symptom"><li <% if (menu == 'data_symptom' || menu == 'data_symptom_add' || menu == 'data_symptom_detail') { %> class="selected" <% } %>>증상</li></a> -->
            <a href="/admin/data/product"><li <% if (menu == 'data_product' || menu == 'data_product_add' || menu == 'data_product_detail') { %> class="selected" <% } %>>제품</li></a>
            <a href="/admin/data/nutrient"><li <% if (menu == 'data_nutrient' || menu == 'data_nutrient_add' || menu == 'data_nutrient_detail') { %> class="selected" <% } %>>영양소</li></a>
            <!-- <a href="/admin/data/tag"><li <% if (menu == 'data_tag') { %> class="selected" <% } %>>기타 태그</li></a> -->
        </ul>

        <div class="main-menu">사용자 관리</div>

        <div class="main-menu">컬럼</div>
    </nav>

    <article>
        <% if (menu == 'main') { %>
            <% include ./main %>

        <% } else if (menu == 'data_nutrient') { %>
            <% include ./data/nutrient %>
        <% } else if (menu == 'data_nutrient_add') { %>
            <% include ./data/nutrient_add %>
        <% } else if (menu == 'data_nutrient_detail') { %>
            <% include ./data/nutrient_detail %>

        <% } else if (menu == 'data_disease') { %>
            <% include ./data/disease %>
        <% } else if (menu == 'data_disease_add') { %>
            <% include ./data/disease_add %>
        <% } else if (menu == 'data_disease_detail') { %>
            <% include ./data/disease_detail %>

        <% } else if (menu == 'data_food') { %>
            <% include ./data/food %>
        <% } else if (menu == 'data_food_add') { %>
            <% include ./data/food_add %>
        <% } else if (menu == 'data_food_detail') { %>
            <% include ./data/food_detail %>

        <% } else if (menu == 'data_symptom') { %>
            <% include ./data/symptom %>
        <% } else if (menu == 'data_symptom_add') { %>
            <% include ./data/symptom_add %>
        <% } else if (menu == 'data_symptom_detail') { %>
            <% include ./data/symptom_detail %>

        <% } else if (menu == 'data_product') { %>
            <% include ./data/product %>
        <% } else if (menu == 'data_product_add') { %>
            <% include ./data/product_add %>
        <% } else if (menu == 'data_product_detail') { %>
            <% include ./data/product_detail %>

        <% } else if (menu == 'data_tag') { %>
            <% include ./data/tag %>

        <% } else if (menu == 'test') { %>
            <% include ./test %>
        <% } %>

        <nav class="js-nav-data-bottom-menu data-bottom-menu">
            <div class="wrapper">
                <button class="js-button-bottom-menu-detail default">자세히</button>
                <button class="js-button-bottom-menu-delete default">삭제</button>
                <button class="default">연관 데이터 보기</button>
            </div>
        </nav>
    </article>

    <footer>
        <div class="wrapper">FOOTER</div>
    </footer>

    <script src="/admin/js/common.js"></script>
    <script src="/admin/js/config.js"></script>

    <% if (menu == 'main') { %>
        <script src="/admin/js/main.js"></script>
    <% } else if (menu == 'test') { %>
        <script src="/admin/js/test.js"></script>
    <% } else if (menu == 'data_disease' || menu == 'data_product' || menu == 'data_symptom' || menu == 'data_tag' || menu == 'data_food' || menu == 'data_nutrient') { %>
        <script src="/admin/js/data.js"></script>
    <% } else if (menu == 'data_disease_add' || menu == 'data_product_add' || menu == 'data_symptom_add' || menu == 'data_tag_add' || menu == 'data_food_add' || menu == 'data_nutrient_add') { %>
        <script src="/admin/js/data_add.js"></script>
    <% } else if (menu == 'data_disease_detail' || menu == 'data_product_detail' || menu == 'data_symptom_detail' || menu == 'data_tag_detail' || menu == 'data_food_detail' || menu == 'data_nutrient_detail') { %>
        <script src="/admin/js/data_detail.js"></script>
    <% } %>



</body>
</html>
